* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background-image: url("genshin-paisaje.jpeg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

section {
    width: 600px;
    height: 400px;
    background: white;
    margin: auto;
    margin-top: 5%;
    padding: 2% 3%;
    color: black;
    border: black solid 3px;
    border-radius: 30px;
}

section h5 {
    margin: 0;
    text-align: center;
    height: 5%;
    margin-bottom: 6%;
    font-size: 150%;
}

.inputs {
    width: 80%;
    border: black solid;
    margin-bottom: 5%;
    padding: 2% 2%;
    background: white;
    font-size: 125%;
    font-weight: bold;
}

.button {
    padding: 3%;
    width: 80%;
    height: 40%;
    background: #017bab;
    border: none;
    color: white;
    margin-bottom: 4%;
    font-size: x-large;
    margin-top: 5%;
}

.mensaje {
    text-align: center;
    padding: 5%;
    font-size: x-large;
}

#ojo1, #ojo2 {
    padding: 5%;
    margin-left: 5%;
}

.mostrar {
    background-color: white;
    width: fit-content;
    height: fit-content;
    border: black solid 3px;
    border-radius: 20px;
}

